<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tiper_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4653E61F1C297E0C006F4FC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4653E6351C297E0C006F4FC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4653E6401C297E0C006F4FC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
